<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="dBlog" value="true" />
      <add key="UserTimeout" value="60000" />
    </appSettings>
    <connectionStrings>
      <!--<add name="BaseConnection" connectionString="Server=localhost;Database=Visitors;Trusted_Connection=True;"/>
      <add name="LogsConnection" connectionString="Server=localhost;Database=VisitorsLogs;Trusted_Connection=True;"/>
      <add name="ImagesConnection" connectionString="Server=localhost;Database=VisitorsImages;Trusted_Connection=True;"/>-->
      <add name="BaseConnection" connectionString="Server=MISTEROWL;Database=Visitors;Trusted_Connection=True;"/>
      <add name="LogsConnection" connectionString="Server=MISTEROWL;Database=VisitorsLogs;Trusted_Connection=True;"/>
      <add name="ImagesConnection" connectionString="Server=MISTEROWL;Database=VisitorsImages;Trusted_Connection=True;"/>
    </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="SupHost.TableService1" behaviorConfiguration="serviceBehavior">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7000/HostSUP"/>
          </baseAddresses>
        </host>
        <endpoint
                  binding="wsDualHttpBinding"
                  contract="SupContract.ITableService"
                  name="TableService"/>
        <endpoint name="metaEndpoint"
                  address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>
      </service>
      
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <wsDualHttpBinding>
      <binding  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
        <security mode="None"></security>
      </binding>
      </wsDualHttpBinding>
    </bindings>-->
  </system.serviceModel>
</configuration>