<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <!--<add name="BaseConnection" connectionString="Server=localhost\SQLEXPRESS;Database=Visitors;Trusted_Connection=True;"/>-->
      <add name="BaseConnection" connectionString="Server=MISTEROWL;Database=Visitors;Trusted_Connection=True;"/>
    </connectionStrings>
  <system.serviceModel>
    <services>
      
      <service name="SupHost.TableService1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7000/HostSUP"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding" 
                  contract="SupContract.ITableService" name="TableService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings><wsHttpBinding>
      <binding  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
        <security mode="None"></security>
      </binding>
    </wsHttpBinding></bindings>
  </system.serviceModel>
</configuration>