<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="TableService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7000/HostSUP" binding="wsDualHttpBinding"
        bindingConfiguration="TableService" contract="ServiceRef.ITableService"
        name="TableService">
        <identity>
          <userPrincipalName value="MisterOwl\Roma" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>