<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="TableService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7000/HostSUP" binding="wsHttpBinding"
                bindingConfiguration="TableService" contract="ServiceRef.ITableService"
                name="TableService">
                <identity>
                    <userPrincipalName value="Owl-PC\Roma" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>