<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="DmpFile" value="C:\Temp\Persons.dmp"/>
    <add key="TemporaryDmpFile" value="C:\Temp\TemporaryPersons.dmp"/>
    <add key="TryCount" value="5"/>
    <add key="TryTimeout" value="500"/>
	<add key="FileWriteTimeout" value="5000"/>
    <add key="ExportFile" value="C:\Temp\Persons.csv"/>
    <add key="ImportCommand" value="C:\Program Files (x86)\Continuum\cmdline.exe"/>
    <add key="ImportCommandArgs" value="/o Root\PG_HP\LoadPersons /u acc"/>
  </appSettings>
  <connectionStrings>
	  <add name="Continuum" connectionString="Data Source=192.168.4.23; Database = ContinuumCopy;User ID=ANDOVER_AGENT;Password=JaF1NtaV83RS}c;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AndoverBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None" />
          <!--<security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>-->
          <!--<security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AndoverAgent.AndoverService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7001/AndoverHost"/>
          </baseAddresses>
        </host>
        <!--MaxReceivedMessageSize =""-->
        <endpoint address="" binding="basicHttpBinding" contract="AndoverLib.IAndoverService"/>
        <!--<endpoint name="metaEndpoint"
                  address="mex" 
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>-->
      </service>
    </services>
  </system.serviceModel> 
</configuration>
