<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="TableService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7000/HostSUP"
                binding="wsDualHttpBinding"
                bindingConfiguration="TableService"
                contract="ServiceRef.ITableService"
                name="TableService">
        <identity>
          <userPrincipalName value="MisterOwl\Roma" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>