<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TableService" value="Сервер" />
    <add key="TableService3" value="Тест" />
    <add key="TableService2" value="Удаленный сервер" />
    <add key="XXX" value="FAIL" />
    <add key="PingTimeout" value="5000" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="TableService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7000/HostSUP" binding="wsDualHttpBinding" bindingConfiguration="TableService" contract="SupContract.ITableService" name="TableService">
        <identity>
          <userPrincipalName value="MisterOwl\Roma" />
        </identity>
      </endpoint>
      <endpoint address="http://127.0.0.1:7000/HostSUP" binding="wsDualHttpBinding" bindingConfiguration="TableService" contract="SupContract.ITableService" name="TableService2">
        <identity>
          <userPrincipalName value="MisterOwl\Roma" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:7001/HostSUP" binding="wsDualHttpBinding" bindingConfiguration="TableService" contract="SupContract.ITableService" name="TableService3">
        <identity>
          <userPrincipalName value="MisterOwl\Roma" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>