<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITableService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7000/HostSUP/TableService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITableService"
                contract="TableServiceReference.ITableService" name="WSHttpBinding_ITableService">
                <identity>
                    <userPrincipalName value="Owl-PC\Roma" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>